**/*security*
**/__pycache__
**/.pyenv

!**/src/main/**/common/
!**/src/main/**/routine/
!**/src/main/**/users/

HELP.md
.gradle

**/src/main/resources/*.properties
!application.properties

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.env
**/src/main/resources/
!**/src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### 삭제할 것
.md